.block   { width: 100%; height: 300px; }

.block.b0 { background: #000; }
.block.b1 { background: #001; }
.block.b2 { background: #002; }
.block.b3 { background: #003; }
.block.b4 { background: #004; }
.block.b5 { background: #005; }
.block.b6 { background: #006; }
.block.b7 { background: #007; }
.block.b8 { background: #008; }
.block.b9 { background: #009; }
.block.ba { background: #00a; }
.block.bb { background: #00b; }
.block.bc { background: #00c; }
.block.bd { background: #00d; }
.block.be { background: #00e; }
.block.bf { background: #00f; }